
.QRreader-mask{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.QRreader-mask video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
}

.content-center{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

.QRreader-mask .aperture{
    position: relative;
    border: 2px solid white;
}

.QRreader-mask .aperture .vertex{
    position: absolute;

    width: 10%;
    height: 10%;
}

.QRreader-mask .aperture .vertex.left-top{
    left: 0;
    top: 0;
    border-left: 4px solid white;
    border-top: 4px solid white;
}

.QRreader-mask .aperture .vertex.right-top{
    right: 0;
    top: 0;
    border-right: 4px solid white;
    border-top: 4px solid white;
}

.QRreader-mask .aperture .vertex.left-bottom{
    left: 0;
    bottom: 0;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}

.QRreader-mask .aperture .vertex.right-bottom{
    right: 0;
    bottom: 0;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.QRreader-mask .aperture .scan-line{
    position: absolute;
    left: 0;
    margin: 0;
    width: 100%;
    height: 10%;
    background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0),rgba(255, 255, 255, 1));
    animation: scan 1s ease-in-out infinite;
}

.QRreader-mask .tips{
    margin-top: 0.5em;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: smaller;
}
.QRreader-mask .btn-cancel{
    position: absolute;
    left: 16px;
    top: 10px;
    margin: 0;
    border: none;
    padding: 0;
    background: transparent;
    font-size: xx-large;
    color: white;
    line-height: 1.0;
    outline: none;
}
.QRreader-mask .btn-switch{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    outline: none;
    border: none;
    padding: 24px;
    background: transparent;
    font-size: large;
    color: white;
    line-height: 1.0;

}

@keyframes scan{
    from{top:0%;}
    to{top:90%;}
}

label[for="qrcode-capture"]{
    display: block;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 20px;
    text-align: center;
    background-color: blueviolet;
}
#qrcode-capture{
    width: 0;
    height: 0;
}